---
import Layout from "@layouts/AboutLayout.astro";
import { Image } from "astro:assets";
import avatar from "../assets/images/avatar.png";
import { SITE } from "@config";

const otherLinks: Array<{ title: string; href: string; desc: string }> = [
  {
    title: "Fatkur's Writing",
    href: "https://rit.fatkur.id/",
    desc: "A collection of things from my journey and experiences.",
  },
];
---

<Layout frontmatter={{ title: "About" }}>
  <div class="flex flex-col">
    <Image
      src={avatar}
      alt={SITE.author}
      class="mx-auto h-32 w-32 rounded-lg sm:mx-0 sm:h-48 sm:w-48"
    />
    <div class="text-center sm:text-left">
      <p class="text-gray-800">
        Hi 👋, I’m <span class="font-semibold text-skin-accent"
          >Muhammad Fatkurozi</span
        > aka <span
          class="italic underline decoration-skin-accent decoration-wavy underline-offset-4"
          >ibnumardini</span
        >. I’m passionate about innovation and have hands-on experience in web
        development and IT services.
      </p>
      <p class="mt-2 text-gray-800">
        With skills in PHP, JavaScript, and Go, I enjoy tackling challenges and
        staying up-to-date with the latest tech trends.
      </p>
      <p class="mt-2 text-gray-800">
        Always eager to learn and grow, I’m dedicated to contributing value to
        every project I work on.
      </p>
      <p class="mt-2 text-gray-800">
        More details about me, please grab <a
          href="https://s.id/fatkur-cv-download"
          target="_blank">my CV</a
        >.
      </p>
    </div>
    <h2>Other links</h2>
    <div class="flex flex-wrap gap-4">
      {
        otherLinks.map(({ title, href, desc }) => (
          <div class="flex w-full flex-grow flex-col flex-nowrap gap-4 border p-6 sm:max-w-[calc(50%-1rem)]">
            <a href={href} target="_blank" class="text-lg font-semibold">
              {title}
            </a>
            <p class="m-0 text-base">{desc}</p>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
